common --enable_bzlmod
common --registry=https://raw.githubusercontent.com/tinyland-inc/bazel-registry/main
common --registry=https://bcr.bazel.build
common --legacy_external_runfiles
common --lockfile_mode=off

test --test_output=errors
